<h3 class="sub-header pjt-c-sub-header">{{ 'project.pm_info.title'|trans }}</h3>
<div class="row">
    {# ISSUES #}
    <div class="col-sm-12">
        <h4 class="sub-header">{{ 'project.pm_info.issues'|trans }}</h4>
        <ul class="list-group">
            {# PM TOTAL ISSUES #}
            <li id="total-commits" class="small-list-group-item list-group-item">
                <span class="badge">{{ pm_bugs+pm_evols+pm_tests+pm_qa }}</span>
                {{ 'project.pm_info.total_issues'|trans }}
            </li>
            {# PM BUG ISSUES #}
            <li class="small-list-group-item list-group-item">
                <span class="badge">{{ pm_bugs }}</span>
                {{ 'project.pm_info.bug_issues'|trans }}
            </li>
            {# PM EVOL ISSUES #}
            <li class="small-list-group-item list-group-item">
                <span class="badge">{{ pm_tests }}</span>
                {{ 'project.pm_info.test_issues'|trans }}
            </li>
            {# PM EVOL ISSUES #}
            <li class="small-list-group-item list-group-item">
                <span class="badge">{{ pm_qa }}</span>
                {{ 'project.pm_info.qa_issues'|trans }}
            </li>
        </ul>
    </div>
</div>