{% extends('SpiritDevDBoxPortalBundle:Mailer:mailLayout.html.twig') %}

{% block mailTitle %}{{ 'mail.global.header_admin'|trans|raw }}{% endblock mailTitle %}

{% block content %}

    <table width="600px" height="100%" align="center" border="0" cellspacing="0" cellpadding="0"
           style="PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; PADDING-RIGHT: 0px !important; COLOR: #FFFFFF;; Z-INDEX: 2;">

        <tr style="TEXT-ALIGN: center;">
            <td>
                <h1>{{ 'mail.global.header_admin'|trans|raw }}</h1>
            </td>
        </tr>

        <tr style="TEXT-ALIGN: center;">
            <td>

                <h3>{{ 'mail.admin.register_demand.slot1'|trans }}</h3>
                <p>{{ 'mail.admin.register_demand.slot2'|trans }}</p>

                <p>{{ 'mail.admin.register_demand.slot3'|trans }} {{ demand.type.name }}</p>

                <p>{{ 'mail.admin.register_demand.slot4'|trans }}
                    <a class="btn btn-primary"
                       href="{{ demand_url }}">{{ 'mail.admin.register_demand.link1'|trans }}</a>
                </p>

            </td>
        </tr>

    </table>

{% endblock content %}