{% extends('SpiritDevDBoxPortalBundle:Mailer:mailLayout.html.twig') %}

{% block mailTitle %}
    {{ 'mail.global.hello_user'|trans({'%firstname%': firstname,'%lastname%': lastname}) }}
{% endblock mailTitle %}

{% block content %}

    <table width="600px" height="100%" align="center" border="0" cellspacing="0" cellpadding="0"
           style="PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; PADDING-RIGHT: 0px !important; COLOR: #FFFFFF;; Z-INDEX: 2;">

        <tr style="TEXT-ALIGN: center;">
            <td>
                <h1>
                    {{ 'mail.global.hello_user'|trans({'%firstname%': firstname,'%lastname%': lastname}) }}
                </h1>
            </td>
        </tr>

        <tr style="TEXT-ALIGN: center;">
            <td>

                <p>{{ 'mail.security.request.slot1'|trans }}</p>
                <ul>
                    <li>{{ project_name }}</li>
                </ul>

                <h4>{{ 'mail.security.request.slot2'|trans }}</h4>
                <p>{{ 'mail.security.request.slot3'|trans }}</p>

                <p>{{ 'mail.security.request.slot4'|trans }}</p>
                <a class="btn btn-success btn-small" href="{{ demand_url }}" target="_blank">{{ project_name }}</a>

            </td>
        </tr>

    </table>

{% endblock content %}