{% extends('::base.html.twig') %}

{% block stylesheets %}
    {% stylesheets
    'bundles/spiritdevdboxportal/lib/bootstrap3/css/bootstrap.min.css'
    'bundles/spiritdevdboxportal/css/common.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}

{% block javascripts %}
    {% javascripts
    '@SpiritDevDBoxPortalBundle/Resources/public/lib/jquery2/jquery-2.1.4.js'
    '@SpiritDevDBoxPortalBundle/Resources/public/lib/bootstrap3/js/bootstrap.min.js'
    '@SpiritDevDBoxPortalBundle/Resources/public/js/intro.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock javascripts %}

{% block title %}{{ 'pagetitle.index'|trans }} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="off-canvas-wrap" data-offcanvas>
        <div class="main-content inner-wrap">

            {% include('SpiritDevDBoxPortalBundle:Common:menu.html.twig') %}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">

                        <div class="text-center">
                            <h1 style="height: 76px"><a id="skipBtn" class="btn btn-primary btn-lg hidden"
                                                        href="{{ path('spirit_dev_dbox_portal_bundle_homepage') }}">{{ 'intro.skip'|trans }}</a>
                            </h1>
                        </div>

                        <div class="text-center">
                            {% set dateNow = "now"|date('Y-m-d.H:i:s') %}
                            <img src="{{ asset('bundles/spiritdevdboxportal/images/EcosysV2/EcosystemV2-intro.gif', version=dateNow) }}">
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock body %}
