{% extends('SpiritDevDBoxPortalBundle:Mailer:mailLayout.html.twig') %}

{% block mailTitle %}{{ 'mail.global.hello_user'|trans({'%firstname%': firstname,'%lastname%': lastname}) }}{% endblock mailTitle %}

{% block content %}

    <table width="600px" height="100%" align="center" border="0" cellspacing="0" cellpadding="0"
           style="PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; PADDING-RIGHT: 0px !important; COLOR: #FFFFFF;; Z-INDEX: 2;">

        <tr style="TEXT-ALIGN: center;">
            <td>
                <h1>{{ 'mail.global.hello_user'|trans({'%firstname%': firstname,'%lastname%': lastname}) }}</h1>
            </td>
        </tr>

        <tr style="TEXT-ALIGN: center;">
            <td>

                <h4>{{ 'mail.user.registration_done.slot1'|trans }}</h4>
                <p>{{ 'mail.user.registration_done.slot2'|trans }}</p>
                <br/>


                <table width="600px" height="100%" style="TEXT-ALIGN: left !important;">
                    <tr>
                        <th colspan="2">{{ 'mail.user.registration_done.tabh'|trans }}</th>
                    </tr>
                    <tr>
                        <td width="180px">{{ 'mail.user.registration_done.tab1'|trans }}</td>
                        <td>{{ firstname }}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{ 'mail.user.registration_done.tab2'|trans }}</td>
                        <td>{{ lastname }}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{ 'mail.user.registration_done.tab3'|trans }}</td>
                        <td>{{ username }}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{ 'mail.user.registration_done.tab4'|trans }}</td>
                        <td>{{ mail }}</td>
                    </tr>
                    <tr>
                        <td width="180px">{{ 'mail.user.registration_done.tab5'|trans }}</td>
                        <td>{{ clear_password }}</td>
                    </tr>
                </table>

                <br/>
                <p>
                    {{ 'mail.user.registration_done.slot3'|trans }}
                    <a class="btn btn-primary"
                       href="{{ homepage_url }}">{{ 'mail.user.registration_done.link1'|trans }}</a>
                </p>
                <h5>{{ 'mail.user.registration_done.slot4'|trans }}</h5>
                <p>
                    {{ 'mail.user.registration_done.slot5'|trans }}
                    <a class="btn btn-primary"
                       href="{{ profile_url }}">{{ 'mail.user.registration_done.link2'|trans }}</a>
                </p>
                <br/>
                <h5>{{ 'mail.user.registration_done.slot6'|trans }}</h5>

            </td>
        </tr>

    </table>

{% endblock content %}