{% include('SpiritDevBundleDBoxPortalBundle:Mailer:mailLayout.html.twig') %}

{% block content %}

    <div class="row">

        <div class="col-sm-12">
            <h1>{{ 'mail.global.header'|trans|raw }}</h1>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12">
            <h3>{{ 'mail.global.hello_user'|trans({
                    '%firstname%': firstname,
                    '%lastname%': lastname}) }}</h3>
            <p>{{ 'mail.user.register_demand.slot2'|trans }}</p>
            <p>{{ 'mail.user.register_demand.slot3'|trans }}</p>
            <p>{{ 'mail.user.register_demand.slot4'|trans }}</p>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12">
            <h4>{{ 'mail.global.footer.slot1'|trans }}</h4>
            <h4>{{ 'mail.global.footer.slot2'|trans }}</h4>
        </div>

    </div>

{% endblock content %}