{% extends('SpiritDevDBoxPortalBundle:Mailer:mailLayout.html.twig') %}

{% block mailTitle %}
    {% if user != null %}
        {{ 'mail.global.hello_user'|trans({
            '%firstname%': user.firstname,
            '%lastname%': user.lastname}) }}
    {% else %}
        {{ 'mail.global.hello_admin'|trans }}
    {% endif %}
{% endblock mailTitle %}

{% block content %}

    <table width="600px" height="100%" align="center" border="0" cellspacing="0" cellpadding="0"
           style="PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; PADDING-RIGHT: 0px !important; COLOR: #FFFFFF;; Z-INDEX: 2;">

        <tr style="TEXT-ALIGN: center;">
            <td>
                <h1>
                    {% if user != null %}
                        {{ 'mail.global.hello_user'|trans({
                            '%firstname%': user.firstname,
                            '%lastname%': user.lastname}) }}
                    {% else %}
                        {{ 'mail.global.hello_admin'|trans }}
                    {% endif %}
                </h1>
            </td>
        </tr>

        <tr style="TEXT-ALIGN: center;">
            <td>

                <p>{{ 'mail.both.new_comment.slot1'|trans }}</p>
                <p>{{ 'mail.both.new_comment.slot2'|trans }}
                    <a class="btn btn-primary"
                       href="{{ demand_url }}">{{ 'mail.both.new_comment.link1'|trans }}</a>
                </p>

            </td>
        </tr>

    </table>

{% endblock content %}