{% include('SpiritDevDBoxPortalBundle:Mailer:mailLayout.html.twig') %}

{% block content %}

    <div class="row">

        <div class="col-sm-12">
            <h1>{{ 'mail.global.header'|trans|raw }}</h1>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12">
            <h3>{{ 'mail.global.hello_user'|trans({
                    '%firstname%': firstname,
                    '%lastname%': lastname}) }}</h3>

            <p>{{ 'mail.pipeline.request.slot1'|trans }}</p>
            <ul>
                <li>{{ project_name }}</li>
            </ul>


            <h4>{{ 'mail.pipeline.request.slot2'|trans }}</h4>
            <p>{{ 'mail.pipeline.request.slot3'|trans }}</p>

            <p>{{ 'mail.pipeline.request.slot4'|trans }}</p>
            <a class="btn btn-success btn-small" href="{{ demand_url }}" target="_blank">{{ project_name }}</a>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-12">
            <h4>{{ 'mail.global.footer.slot1'|trans }}</h4>
            <h4>{{ 'mail.global.footer.slot2'|trans }}</h4>
        </div>

    </div>

{% endblock content %}