{% extends('SpiritDevDBoxPortalBundle:Mailer:mailLayout.html.twig') %}

{% block mailTitle %}
    {{ 'mail.global.hello_user'|trans({'%firstname%': user.firstname,'%lastname%': user.lastname}) }}
{% endblock mailTitle %}

{% block content %}

    <table width="600px" height="100%" align="center" border="0" cellspacing="0" cellpadding="0"
           style="PADDING-BOTTOM: 0px !important; PADDING-TOP: 0px !important; PADDING-LEFT: 0px !important; MARGIN: 0px; PADDING-RIGHT: 0px !important; COLOR: #FFFFFF;; Z-INDEX: 2;">

        <tr style="TEXT-ALIGN: center;">
            <td>
                <h1>
                    {{ 'mail.global.hello_user'|trans({'%firstname%': user.firstname,'%lastname%': user.lastname}) }}
                </h1>
            </td>
        </tr>

        <tr style="TEXT-ALIGN: center;">
            <td>

                <h3>{{ 'mail.global.hello_user'|trans({
                        '%firstname%': user.firstname,
                        '%lastname%': user.lastname}) }}</h3>
                <p>{{ 'mail.user.change_status.slot1'|trans }}</p>
                <p>{{ 'mail.user.change_status.slot2'|trans({
                        '%status%': demand.status.name}) }}</p>
                <p>{{ 'mail.user.change_status.slot3'|trans }}
                    <a class="btn btn-primary"
                       href="{{ demand_url }}">{{ 'mail.user.change_status.link1'|trans }}</a>
                </p>

            </td>
        </tr>

    </table>

{% endblock content %}